logs/
project/
bin/
target/
.target/
target/
data/
*.iml
.idea/
.idea_modules/
.worksheet/
test/testsheet.sc
tmp
dist
.cache
.classpath
.project
.DS_Store
.DS_Store?
.settings
!app/views/logs
conf/fillable.conf