@(host: String, indexName: String)(implicit request: Request[Any], flash: Flash)

@import helper._ 
@implicitField = @{ FieldConstructor(formInput.f) } 
@title = { @Messages("title.indexCreated") }

@main(title, nav = "createIndex") { 
  @notice(flash)

  <p>@Messages("text.snippetSummary")<p>
  <pre class="col-lg-12">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        <span class="important">&lt;script src="@host/assets/javascripts/fillable.js"&gt;&lt;/script&gt;</span>
        <span class="important">&lt;link href="@host/assets/stylesheets/fillable.css" rel="stylesheet"&gt;</span>
    &lt;/head&gt;

    &lt;body&gt;
        &lt;form&gt;
            ...
            <span class="important">&lt;input type="text" id="@(indexName)AutoCompletion"&gt;</span>
            ...
        &lt;/form&gt;

        <span class="important">
            &lt;script&gt;
                var settings = {
                    fblInputFieldId: "@(indexName)AutoCompletion",
                    fblHost: "@host",
                    fblIndex: "@(indexName)",
                    collectMode: false
                };
                FillableWidget.init(settings);
            &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
  </pre>
}
