@(implicit flash: Flash)

@if(flash.get("success").isDefined) {
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html(flash.get("success").getOrElse(""))
    </div>
}

@if(flash.get("info").isDefined) {
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html(flash.get("info").getOrElse(""))
    </div>
}

@if(flash.get("error").isDefined) {
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html(flash.get("error").getOrElse(""))
    </div>
}

