@(level: String = "", msg: String = "")
 
@level match {
  case "success" => {
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Ok!</strong> @msg
    </div>
  }

  case "info" => {
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Info:</strong> @msg
    </div>
  }

  case "error" => {
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error!</strong> @msg
    </div>
  }  
  
  case _ => {}
}