<!DOCTYPE html>
<html>
<head>
    <title>testpage</title>
    <script src="/assets/javascripts/fillable.js"></script>
    <link href="/assets/stylesheets/fillable.css" rel="stylesheet" media="screen">
</head>
<body>
<form id="testForm">

    <input type="text" id="testField">

    <input type="submit" value="Send">
</form>

<script>
    var settings = {
        fblInputFieldId: "testField",
        fblHost: "http://localhost:9000",
        fblIndex: "fbl_vw_modelle"
    };
    FillableWidget.init(settings);
</script>
</body>
</html>