@(tests: List[Boolean], failed: Int, passed: Int)(implicit request: Request[Any], flash: Flash)

@import helper._
@implicitField = @{ FieldConstructor(formInput.f) }
@title = { @Messages("titel.status") }

@main(title, nav = "status") {
    @notice(flash)
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h3 class="panel-title">System Tests</h3>
        </div>
        <div class="panel-body">
            <p>Tests passed: @passed Tests failed: @failed</p>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: @(passed.toDouble / (passed.toDouble + failed.toDouble) * 100.0)%">
                    <span class="sr-only">@passed passed (success)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: @(100 - (passed.toDouble / (passed.toDouble + failed.toDouble) * 100.0))%">
                    <span class="sr-only">@failed failed (danger)</span>
                </div>
            </div>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Elasticsearch connection</li>
            <li class="list-group-item"><span class="glyphicon @("glyphicon-ok".when(tests(1)))  @("glyphicon-remove".when(!tests(1)))"></span> Elasticsearch version is >=0.90.5</li>
            <li class="list-group-item"><span class="glyphicon @("glyphicon-ok".when(tests(0)))  @("glyphicon-remove".when(!tests(0)))"></span> User credentials changed</li>
        </ul>
    </div>
}