@()(implicit request: Request[Any], flash: Flash)

@import helper._
@implicitField = @{ FieldConstructor(formInput.f) }
@title = { @Messages("titel.status") }

@main(title, nav = "status") {
    @notice(flash)
    <div class="panel panel-default">
        <div class="panel-heading ">
            <h3 class="panel-title">System Tests</h3>
        </div>
        <div class="panel-body">
            <p>Tests passed: 3 Tests failed: 2</p>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 65%">
                    <span class="sr-only">65% Complete (success)</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 35%">
                    <span class="sr-only">35% Complete (danger)</span>
                </div>
            </div>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Elasticsearch connection</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Dapibus ac facilisis in</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Morbi leo risus</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Porta ac consectetur ac</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> Vestibulum at eros</li>
        </ul>
    </div>
}