@(indices: List[IndexListEntry], highlightName: String = "",  level:String = "", msg: String = "")(implicit request: Request[Any], flash: Flash)

@import helper._ 
@implicitField = @{ FieldConstructor(formInput.f) } 
@title = { @Messages("title.indexList") }

@main(title, nav = "indexList") {
  @notice(flash)

  <table class="table table-striped table-bordered">
    <thead>
       <tr>
         <th>#</th>
         <th>Name</th>
         <th class="text-right col-sm-2">Completions Count</th>
         <th class="text-right">Size</th>
         <th class="text-center col-sm-4">Actions</th>
       </tr>
     </thead>
     <tbody>
      @for((index, number) <- indices.reverse.zipWithIndex) {
        <tr class="@("warning".when(index.name.equals(highlightName)))">
      <td>@{number + 1}</td>
      <td>@index.name</td>
      <td class="text-right">@index.documents</td>
      <td class="text-right">@index.size MB</td>
      <td>
          <div class="text-center">
             <div class="btn-group btn-group-xs text-right">
              <a href="@routes.CrudIndex.showSummary(index.name)" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Snippet</a>
              <a href="@routes.Synonym.editor(index.name)" class="btn btn-default"><span class="glyphicon glyphicon-link"></span> Synonyms</a>
              <a href="@routes.CrudIndex.importCompletionsForm(index.name)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Completions</a>
              <a href="@routes.CrudIndex.editForm(index.name)" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span> Edit</a>
              <a href="@routes.CrudIndex.deleteIndex(index.name)" class="btn btn-default" onclick="return confirm('@Messages("text.confirmDelete")')"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
          </div>
      </td>

    </tr>
      }
   </tbody>
  </table>
  <a class="btn btn-default" href="@routes.CrudIndex.createForm"><span class="glyphicon glyphicon-plus"></span> Create Index</a>
}