@(title: Html, nav: String = "")(content: Html)(implicit request: Request[Any])

<!DOCTYPE html>
<html>
  <head>
    <title>Fillable Autocompletion Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
	  <nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/">Fillable Autocompletion</a>
		  </div>
		
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li class="@("active".when(nav == "indexList"))">
		        <a href="/">Indices</a>
		      </li>
              <li class="@("active".when(nav == "logList"))">
                <a href="/logs">Logs</a>
              </li>
		      <li class="@("active".when(nav == "createIndex"))">
		        <a href="@routes.CrudIndex.createForm">Create Index</a>
		      </li>
              </li>
                <li class="@("active".when(nav == "status"))">
                <a href="@routes.Status.index">Status</a>
              </li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
			    @if(request.session.get("user").getOrElse("").equals("")) {
			      <li class="@("active".when(nav == "login"))">
			       <a href="/login">Login</a>
			     </li>
			    } else {
			      <li><a href="/logout">Logout</a></li>
			    }
		    </ul>
		  </div><!-- /.navbar-collapse -->
	  </nav>

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h1>@title</h1>
            </div>
            @content
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
  </body>
</html>
