@(title: Html, nav: String = "")(content: Html)(implicit request: Request[Any])

<!DOCTYPE html>
<html>
  <head>
    <title>Fillable Autocompletion Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">

	  <nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/">Fillable Autocompletion</a>
		  </div>
		
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li class="@("active".when(nav == "indexList"))">
                <a href="/"><span class="glyphicon glyphicon-list"></span>  Indices</a>
		      </li>
              <li class="@("active".when(nav == "logList"))">
                <a href="/logs"><span class="glyphicon glyphicon-file"></span> Logs</a>
              </li>
		      <li class="@("active".when(nav == "createIndex"))">
		        <a href="@routes.CrudIndex.createForm"><span class="glyphicon glyphicon-plus"></span> Create Index</a>
		      </li>
              </li>
                <li class="@("active".when(nav == "status"))">
                <a href="@routes.Status.index"><span class ="glyphicon glyphicon-signal"></span> Status</a>
              </li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
			    @if(request.session.get("user").getOrElse("").equals("")) {
			      <li class="@("active".when(nav == "login"))">
			       <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
			     </li>
			    } else {
			      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			    }
		    </ul>
		  </div><!-- /.navbar-collapse -->
	  </nav>

      <div class="container">
        <div class="content">
            <div class="page-header">
                <h1>@title</h1>
            </div>
            @content
        </div>
      </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="col-lg-10">
                <p class="text-muted">
                    Initally created by <a href="mailto:st.meiwald@@gmail.com" alt="Mail">Stefan Meiwald</a> in cooperation with <a href="http://www.scout24.com" target="_blank" alt="Scout24">Scout24</a> as practical part of his bachelor thesis.<br>
                    Now available on <a href="https://github.com/MeiSign/Fillable" target="_blanc" alt="GitHub Repo">GitHub</a> as opensource project under <a href="http://choosealicense.com/licenses/apache/" alt="License" target="_blank">Apache License</a>. Feel free to use and contribute!
                </p>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/expanding.js")"></script>
  </body>
</html>
